# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ project files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Temporary files
*.tmp
*.swp
*~.nib
.DS_Store
Thumbs.db

# Spring Boot devtools
.spring-boot-devtools.properties

# Env files
.env

# Maven
target/

# Redis dump
dump.rdb

# VS Code (if you happen to use it)
.vscode/